.formColor {
    background-color: transparent;
}
.form-control { 
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(245,245,246);
}
.form-control:focus {
    outline: 3px solid rgba(70, 101, 9, 0.741)  !important;
    box-shadow: none;
    border: none;
}
.TextForm {
    color: rgba(70, 101, 9, 0.741) ;
    font-weight: bold;
    margin-left: 5px;
}
.passwordComment {
    font-size: 10px;
   color: rgba(70, 101, 9, 0.741);
}
.btnForm {
    background-color: rgba(70, 101, 9, 0.741);
    color: white;
    padding: 10px;
    border-radius:20px 20px 20px 20px ;
    margin-top: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.colorRandom{
    color:rgba(70, 101, 9, 0.741) ;
    font-size: 30px;
    margin-bottom: 20px;
}
.formColor {
    max-width: 500px;
    min-width: 230px;
}
.policy a{
    color: rgba(70, 101, 9, 0.741);
    text-decoration: none;
}
input[type=checkbox]{
    accent-color: rgba(70, 101, 9, 0.741);;
}
.otpForm input{
    width: 90px;
    height: 55px;
    text-align: center;
    color: gray;
    background-color: white;
    border:0.5px solid lightgray;
    font-size: 25px;
}
.otpForm input:focus{
    outline: 1px solid rgba(70, 101, 9, 0.212) ;
}

@media (max-width: 991px){
    .ADs{
        max-height: 300px !important;
    }
}
@media (max-width: 360px){
    .otp_container{
        width: 100% !important;
    }
    .otpForm input{
        width: 25%;
    }
}